
/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
}

a { 
  color: #878787;
  text-decoration: none;
}

a:hover{
  color: red;
}



/* header */

.header{
  width: 85%;
  height: 130px;
  margin: 10px auto 25px;
}

.logo img{
  height: 60px;
  padding-right: 10px;
  border-right: 1px solid lightgrey;
}

.menu{
  text-transform: uppercase;
  padding-top: 30px;
}


.menu ul li{
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}

/* main */


.jumbotron{
  width: 85%;
  min-height: 300px;
  margin: 0 auto 10px;
  background-color: burlywood;
}


main{
  background-color: blue;
  width: 85%;
  min-height: 350px;
  margin: 0 auto 5px;
}

.header-main{
  width: 100%;
  min-height: 45px;
  background-color: lightskyblue;
}

aside{
  width: 23%;
  min-height: 280px;
  background-color: lightskyblue;
  float: left;
  margin: 3% 0;
}

.content-main{
  width: 48%;
  min-height: 280px;
  background-color: lightskyblue;
  float: left;
  margin: 3% 3%;
}

/* footer */

footer{
  width: 85%;
  height: 45px;
  background-color: coral;
  margin: auto;
}