
/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
}

a { 
  color: #878787;
  text-decoration: none;
}

a:hover{
  color: red;
}



/* header */

.header{
  width: 80%;
  height: 130px;
  margin: 10px auto 25px;
}

.logo img{
  height: 60px;
  padding-right: 10px;
  border-right: 1px solid lightgrey;
}

.menu{
  text-transform: uppercase;
  padding-top: 30px;
}


.menu ul li{
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}

/* main */


.jumbotron{
  width: 80%;
  margin: 0 auto 30px;
  border-radius: 10px;
  background-image: url(../img/banner.jpg);
  background-size: 100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

.jumbotext{
  padding: 20% 35% 10% 25px;
  color: white;
  font-size: 20px;
}

main{
  width: 80%;
  min-height: 350px;
  margin: 0 auto 5px;
}

.header-main{
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
}

.header-main p{
  color: #939393;
}

aside{
  width: 23%;
  min-height: 280px;
  float: left;
  margin: 3% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aside1{
  background-image: url(../img/img-1.jpg);
}

.aside2{
  background-image: url(../img/img-3.jpg);
}

.content-main{
  width: 48%;
  min-height: 280px;
  float: left;
  margin: 3% 3%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/banner-2.jpg);
}

.clearfix p{
  color: #939393;
}

/* footer */

footer{
  width: 80%;
  height: 45px;
  margin: auto;
  text-align: center;
}

.heart{
  color: red;
}